In [1]:
import numpy as np
import pandas as pd

In [2]:
Full_Animation = pd.read_csv("Full_Animation.csv")
Full_Drama = pd.read_csv("Full_Drama.csv")
Full_Horror = pd.read_csv("Full_Horror.csv")
Full_Superhero = pd.read_csv("Full_Superhero.csv")

total = pd.concat([Full_Animation,Full_Drama,Full_Horror,Full_Superhero])

total = total.drop(columns = "Index").reset_index()

In [3]:
def non_family_movies(synopsis_list):
    all_indices = list(range(0,len(synopsis_list)))

    # The indices of the synopses that contain any of the keywords
    match_index_list = []

    keywords = ["family", "parenting", "father", "mother", "son", "daughter", "sibling", "brother", "sister", "marriage", "divorce", "blended family", "adoption",
                "foster care", "custody", "inheritance", "legacy", "generations", "multigenerational", "family reunion", "family secrets", "family drama", "dysfunctional", 
                "dysfunctional family", "family conflict", "family relationships", "family values", "family ties", "parent-child relationship", "relationship",
                "coming-of-age", "parenthood", "growing up", "childhood", "teenage years", "aging parents", "grandparents"]

    for i in range(len(synopsis_list)):
        for keyword in keywords:
            if keyword in synopsis_list[i]:
                if i not in match_index_list:
                    match_index_list.append(i)
    
    non_match_index = [index for index in all_indices if index not in match_index_list]

    return non_match_index

In [4]:
def Bar_Family(synopsis):
    
    word_list = synopsis.split()
    
    keywords = ["family", "parenting", "father", "mother", "son", "daughter", "sibling", "brother", "sister", "marriage", "divorce", "blended family", "adoption",
                "foster care", "custody", "inheritance", "legacy", "generations", "multigenerational", "family reunion", "family secrets", "family drama", "dysfunctional", 
                "dysfunctional family", "family conflict", "family relationships", "family values", "family ties", "parent-child relationship", "relationship",
                "coming-of-age", "parenthood", "growing up", "childhood", "teenage years", "aging parents", "grandparents"]
    
    count = 0
    for i in range(len(word_list)):
        for keyword in keywords:
            if keyword in word_list[i]:
                count +=1
    
    if count >=10:
        return True
    else:
        return False

In [5]:
def append_bar(some_DF):
    i=0
    some_DF["Family"] = ...
    for i in range(len(some_DF)):
        if Bar_Family(some_DF.loc[i,"Synopsis"]):
            some_DF.at[i,"Family"] = "Yes"
        else: some_DF.at[i,"Family"] = "No"

In [6]:
append_bar(total)

In [7]:
total["Family"].value_counts()

Yes    164
No     134
Name: Family, dtype: int64

In [8]:
def decade_check(year):
    if year < 1990:
        return "Before 1990"
    elif 1990<= year <=1999:
        return "1990s"
    elif 2000<= year <= 2009:
        return "2000s"
    elif 2010<= year <= 2019:
        return "2010s"
    else: return "2020s"

In [9]:
decade_check(2010)

'2010s'

In [10]:
def append_year(some_DF):
    i=0
    some_DF["Decade"] = ...
    for i in range(len(some_DF)):
        some_DF.at[i,"Decade"] = decade_check(some_DF.loc[i,"Year"])

In [11]:
append_year(total)

In [12]:
total

,index,Title,Year,Rating,Genre,Synopsis,Family,Decade
0,0,The Super Mario Bros. Movie,2023,7.2,Animation,The movie starts with Bowser's ship landing in...,Yes,2020s
1,1,Spider-Man: Into the Spider-Verse,2018,8.4,Animation,This animated film starts with Peter Parker (v...,Yes,2010s
2,2,The Little Mermaid,1989,7.6,Animation,"Ariel, a sixteen-year-old mermaid princess, is...",No,Before 1990
3,3,Sing 2,2021,7.4,Animation,"Some time after the events of the first film, ...",No,2020s
4,4,The Lion King,2019,6.8,Animation,The sun rises over the Pride Lands. Animals fr...,Yes,2010s
...,...,...,...,...,...,...,...,...
293,55,Fifty Shades of Grey,2015,4.2,Superhero,Anastasia (Ana) Steele is a 22-year-old colleg...,Yes,2010s
294,56,Forrest Gump,1994,8.8,Superhero,The film begins with a feather falling to the ...,No,1990s
295,57,Ad Astra,2019,6.5,Superhero,"In the near future, the Solar System is being ...",Yes,2010s
296,58,Conan the Barbarian,1982,6.9,Superhero,"During the Hyborean age, ""a time of high adven...",Yes,Before 1990
297,59,Furious 6,2013,7.0,Superhero,"Following their successful Rio heist, Dominic ...",No,2010s

In [13]:
def count_family(synopsis):
    
    word_list = synopsis.split()
    
    keywords = ["family", "parenting", "father", "mother", "son", "daughter", "sibling", "brother", "sister", "marriage", "divorce", "blended family", "adoption",
                "foster care", "custody", "inheritance", "legacy", "generations", "multigenerational", "family reunion", "family secrets", "family drama", "dysfunctional", 
                "dysfunctional family", "family conflict", "family relationships", "family values", "family ties", "parent-child relationship", "relationship",
                "coming-of-age", "parenthood", "growing up", "childhood", "teenage years", "aging parents", "grandparents"]
    
    count = 0
    for i in range(len(word_list)):
        for keyword in keywords:
            if keyword in word_list[i]:
                count +=1
                
    return count

In [14]:
def append_count(some_DF):
    i=0
    for i in range(len(some_DF)):
        some_DF.at[i,"Family Number"] = count_family(some_DF.loc[i,"Synopsis"])

In [15]:
append_count(total)
total

,index,Title,Year,Rating,Genre,Synopsis,Family,Decade,Family Number
0,0,The Super Mario Bros. Movie,2023,7.2,Animation,The movie starts with Bowser's ship landing in...,Yes,2020s,13.0
1,1,Spider-Man: Into the Spider-Verse,2018,8.4,Animation,This animated film starts with Peter Parker (v...,Yes,2010s,18.0
2,2,The Little Mermaid,1989,7.6,Animation,"Ariel, a sixteen-year-old mermaid princess, is...",No,Before 1990,4.0
3,3,Sing 2,2021,7.4,Animation,"Some time after the events of the first film, ...",No,2020s,2.0
4,4,The Lion King,2019,6.8,Animation,The sun rises over the Pride Lands. Animals fr...,Yes,2010s,12.0
...,...,...,...,...,...,...,...,...,...
293,55,Fifty Shades of Grey,2015,4.2,Superhero,Anastasia (Ana) Steele is a 22-year-old colleg...,Yes,2010s,62.0
294,56,Forrest Gump,1994,8.8,Superhero,The film begins with a feather falling to the ...,No,1990s,7.0
295,57,Ad Astra,2019,6.5,Superhero,"In the near future, the Solar System is being ...",Yes,2010s,12.0
296,58,Conan the Barbarian,1982,6.9,Superhero,"During the Hyborean age, ""a time of high adven...",Yes,Before 1990,11.0
297,59,Furious 6,2013,7.0,Superhero,"Following their successful Rio heist, Dominic ...",No,2010s,9.0

In [18]:
Total_Family_Data = total.to_csv("Total_Family_Data.csv")

In [17]:
total["Decade"].value_counts()

2010s          113
2000s           56
2020s           51
1990s           42
Before 1990     36
Name: Decade, dtype: int64