In [22]:
import numpy as np
import pandas as pd

In [23]:
Full_Animation = pd.read_csv("Full_Animation.csv")
Full_Drama = pd.read_csv("Full_Drama.csv")
Full_Horror = pd.read_csv("Full_Horror.csv")
Full_Superhero = pd.read_csv("Full_Superhero.csv")
Full_Adventure = pd.read_csv("Full_Adventure.csv")
Non_Fam_Animation = pd.read_csv("Non_Family_Animation.csv")
Non_Fam_Adventure = pd.read_csv("Non_Family_Adventure.csv")
Non_Fam_Drama = pd.read_csv("Non_Family_Drama.csv")
Non_Fam_Horror = pd.read_csv("Non_Family_Horror.csv")
Non_Fam_Superhero = pd.read_csv("Non_Family_Superhero.csv")

movie = pd.concat([Full_Animation,Full_Drama,Full_Horror,Full_Superhero,Full_Adventure, Non_Fam_Superhero, Non_Fam_Horror, Non_Fam_Animation, Non_Fam_Drama,  Non_Fam_Adventure])

movie = movie.drop(columns = "Index").reset_index(); movie

,index,Title,Year,Rating,Genre,Synopsis
0,0,The Super Mario Bros. Movie,2023,7.2,Animation,The movie starts with Bowser's ship landing in...
1,1,Spider-Man: Into the Spider-Verse,2018,8.4,Animation,This animated film starts with Peter Parker (v...
2,2,The Little Mermaid,1989,7.6,Animation,"Ariel, a sixteen-year-old mermaid princess, is..."
3,3,Sing 2,2021,7.4,Animation,"Some time after the events of the first film, ..."
4,4,The Lion King,2019,6.8,Animation,The sun rises over the Pride Lands. Animals fr...
...,...,...,...,...,...,...
495,7,Thor: Love and Thunder,2022,6.2,Adventure,No Synopsis
496,8,Peter Pan,2003,6.8,Adventure,No Synopsis
497,9,The Goonies,1985,7.7,Adventure,No Synopsis
498,10,The Northman,2022,7.0,Adventure,No Synopsis
499,11,Super Mario Bros.,1993,4.1,Adventure,No Synopsis

In [24]:
def non_family_movies(synopsis_list):
    all_indices = list(range(0,len(synopsis_list)))

    # The indices of the synopses that contain any of the keywords
    match_index_list = []

    keywords = ["family", "parenting", "father", "mother", "son", "daughter", "sibling", "brother", "sister", "marriage", "divorce", "blended family", "adoption",
                "foster care", "custody", "inheritance", "legacy", "generations", "multigenerational", "family reunion", "family secrets", "family drama", "dysfunctional", 
                "dysfunctional family", "family conflict", "family relationships", "family values", "family ties", "parent-child relationship", "relationship",
                "coming-of-age", "parenthood", "growing up", "childhood", "teenage years", "aging parents", "grandparents"]

    for i in range(len(synopsis_list)):
        for keyword in keywords:
            if keyword in synopsis_list[i]:
                if i not in match_index_list:
                    match_index_list.append(i)
    
    non_match_index = [index for index in all_indices if index not in match_index_list]

    return non_match_index

In [25]:
def Bar_Family(synopsis):
    
    word_list = synopsis.split()
    
    keywords = ["family", "parenting", "father", "mother", "son", "daughter", "sibling", "brother", "sister", "marriage", "divorce", "blended family", "adoption",
                "foster care", "custody", "inheritance", "legacy", "generations", "multigenerational", "family reunion", "family secrets", "family drama", "dysfunctional", 
                "dysfunctional family", "family conflict", "family relationships", "family values", "family ties", "parent-child relationship", "relationship",
                "coming-of-age", "parenthood", "growing up", "childhood", "teenage years", "aging parents", "grandparents"]
    
    count = 0
    for i in range(len(word_list)):
        for keyword in keywords:
            if keyword in word_list[i]:
                count +=1
    
    if count >= 7:
        return True
    else:
        return False

In [26]:
def append_bar(some_DF):
    i=0
    some_DF["Family"] = ...
    for i in range(len(some_DF)):
        if Bar_Family(some_DF.loc[i,"Synopsis"]):
            some_DF.at[i,"Family"] = "Yes"
        else: some_DF.at[i,"Family"] = "No"

In [27]:
append_bar(movie); movie

,index,Title,Year,Rating,Genre,Synopsis,Family
0,0,The Super Mario Bros. Movie,2023,7.2,Animation,The movie starts with Bowser's ship landing in...,Yes
1,1,Spider-Man: Into the Spider-Verse,2018,8.4,Animation,This animated film starts with Peter Parker (v...,Yes
2,2,The Little Mermaid,1989,7.6,Animation,"Ariel, a sixteen-year-old mermaid princess, is...",No
3,3,Sing 2,2021,7.4,Animation,"Some time after the events of the first film, ...",No
4,4,The Lion King,2019,6.8,Animation,The sun rises over the Pride Lands. Animals fr...,Yes
...,...,...,...,...,...,...,...
495,7,Thor: Love and Thunder,2022,6.2,Adventure,No Synopsis,No
496,8,Peter Pan,2003,6.8,Adventure,No Synopsis,No
497,9,The Goonies,1985,7.7,Adventure,No Synopsis,No
498,10,The Northman,2022,7.0,Adventure,No Synopsis,No
499,11,Super Mario Bros.,1993,4.1,Adventure,No Synopsis,No

In [28]:
movie["Family"].value_counts()

Family
Yes    273
No     227
Name: count, dtype: int64

In [29]:
movie.to_csv("Movies.csv", index=False)